/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Variables (template from Boardwalk games project) */

:root {
    /* black */
    --primary-color: #000000;
    /* white */
    --secondary-color: #ffffff;
    /* Grey */
    --highlight-color: #7f7f7f;

}

/* Global styles */

body {
    font-family: "Rubik", sans-serif;
}

/*navbar*/

.navbar-brand {
    font-family: "Aladin", cursive;
}

#navbar .navbar-nav .nav-link {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#navbar .navbar-brand {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*footer*/

#social-links {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* buttons*/

.btn-white {
    background-color: var(--secondary-color);
    border: var(--primary-color);
    color: var(--primary-color);
}

.btn.custom-hover:hover {
    color: var(--secondary-color);
    background-color: var(--highlight-color);
    border: var(--primary-color)
}