/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "aladin", sans-serif;
    --secondary-font: "rubik", sans-serif;
    --primary-color: #000000;
    /* black */
    --secondary-color: #ffffff;
    /* white */
    --lowlight-color: #e8e5e480;
    /* offwhite */
    --highlight-color: #7f7f7f;
    /* Grey */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}